/* Estilos CSS para el formato de teléfono inteligente */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 480px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container {
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.container h2 {
    text-align: center;
}

.container input[type="text"],
.container input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.container input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.container input[type="submit"]:hover {
    background-color: #45a049;
}


h1 {
    text-align: center;
}

p {
    text-align: justify;
}

a {
    text-decoration: none;
}

.formularioInicio {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container img {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
}

img {
    max-width: 50%;
    max-height: 50%;
}

ul {
    width: 90%;
    padding: 0;
    display: flex;
    flex-direction: column;
}

ul li {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    list-style: none;
    border: black 2px solid;
}

ul p {
    width: 50%;
}